body {
  font-family: Arial, sans-serif;
  background-color: #a8a5a5;
  color: black;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.about {
  position: relative;
  width: 1522px;
  height: 710px;
  background-color: #a8a5a5;
}

.about p {
  font-weight: bold;
}
.image-container img {
  position: absolute;
  background-repeat: no-repeat;
  top: 150px;
  left: 30px;
  width: 300px;
  height: 300px;
  border: 5px solid saddlebrown;
  border-radius: 20px;
}

.text-content {
  position: relative;
  top: 200px;
  left: 400px;
  color: black;
  font-weight: bolder;
  font-size: 38px;
}

.about p {
  position: absolute;
  top: 300px;
  left: 400px;
  font-size: 18px;
}

.resume-section {
  display: flex;
  justify-content: space-between;
}

.education,
.skills {
  flex: 1;
  padding: 60px;
}

.education h2,
.skills h2 {
  background-color: #f0ad4e;
  padding: 10px;
}

.education ul,
.skills ul {
  list-style-type: none;
  padding: 10px;
}

.education li {
  padding: 5px;
}

.year {
  font-weight: bold;
}

.skill-bar {
  position: relative;
  height: 32px;
  background-color: #555;
  margin-bottom: 10px;
}

.skill-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f0ad4e;
}

.html .skill-progress {
  width: 95%;
}

.css .skill-progress {
  width: 95%;
}

.javascript .skill-progress {
  width: 90%;
}

.react .skill-progress {
  width: 85%;
}

.nodejs .skill-progress {
  width: 70%;
}

.expressjs .skill-progress {
  width: 90%;
}

.mongodb .skill-progress {
  width: 80%;
}
.figma .skill-progress {
  width: 85%;
}

.services-section {
  text-align: center;
  padding: 50px;
}
.services-header {
  margin-bottom: 40px;
  font-size: 40px;
}

.subheading {
  font-size: 24px;
}
.service-card {
  display: inline-block;
  background-color: #444;
  width: calc(33% - 40px);
  height: 300px;
  margin-right: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.service-card:last-child {
  margin-right: 0;
}

.service-title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}
.service-description {
  margin-bottom: 30px;
  line-height: 1.6;
  color: white;
  font-size: 18px;
}

.contact-section {
  text-align: center;
  padding: 10px;
}
.contact-section h1 {
  font-size: 26px;
}
.contact-section p {
  font-size: 16px;
}
.contact-list {
  display: flex;
  justify-content: space-between;
}
.contact-list a {
  text-decoration: none;
  color: white;
  background-color: rgb(68, 68, 68);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.project {
  color: white;
  background-color: rgb(68, 68, 68);
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.project h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.project p {
  font-size: 16px;
  line-height: 1.5;
}

.form-container {
  background-color: rgb(121, 111, 111);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 50px auto;
}

.form-container p {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-field {
  display: flex;
  gap: 10px;
}

.name-field div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

input[type="email"]::placeholder {
  font-size: 12px;
  color: #999;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
